#content-grid{
  display:grid;
  grid-template-columns: 300px 1fr;
}

#content-grid > div {
  height:700px;
  border:solid 0.1px #BFBFBF;
}

#content-grid > div > a {
  display:block;
  color : black;
  text-decoration: none;
  padding-top: 340px;
  padding-bottom: 340px;
}

@media(max-width:1000px){
  #content-grid{
    display:grid;
    grid-template-columns: 3fr 7fr;
  }
}
