#content-grid{
  display:grid;
  grid-template-columns: 393px 394px 393px;
}

#content-grid > div {
  height:350px;
}

#content-grid > div > a {
  display:block;
  color : black;
  text-decoration: none;
  padding-top: 165px;
  padding-bottom: 165px;
}

#content-grid > div :hover{
  background-color: #f4f5f6;
}
